*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --CorFundo: #111626;
    --CorPrimaria: #6BE5F2;
    --CorCard: #19213b;
    --CorHover: #52C0D9;
    --CorBordas: #0e2d4050;

    --fontSite:  'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;   /* font por padrão agora é 10 pix*/
}

html, body {
   height: 100%;
   
   font-family:var(--fontSite);
}

body {
    font-size: 1.6rem;

     background-color: var(--CorFundo);
   
}

.header-conteiner {
    width: 100%;
    height: 68px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--CorBordas);
}

.header-header {
    height: 100%;
    width: 1155px;
    min-width: 967px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-header span {
    color: #ffffff;
    font-weight: 600;
    font-size: 2.6rem;
}

.header-nav {
    width: 392px;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
}

.header-nav ul li{
    list-style: none;
}

.header-nav ul li a{
    text-decoration: none;
    color: #ffffff;

    position: relative;
    padding: 0 5px;
}

.header-nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--CorPrimaria);
    
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.header-nav ul li a:hover:after{
    width: 100%;
}

.conteiner {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-hero{
    width: 100%;
    height: 632px;

    display: flex;
    justify-content: center;
}

.hero-hero {
    width: 534px;
    height: 298px;

    text-align: center;
    color: #ffffff;

    margin-top: 128px;
}

.hero-hero h1 {
    font-size: 3.0rem;

    margin-bottom: 10px;
}

.hero-hero span:nth-child(1){
    color: var(--CorPrimaria);
}

.button-hero{
    width: 365px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 32px;
    
}

.button-hero button{
    border-radius: 5px;
    height: 100%;

    transition-duration: 0.3s;
}

.button-hero button a {
    text-decoration: none;
    color: #ffffff;
}

.button-hero button:nth-child(1){
    width: 168px;
    border: none;
    background-color: var(--CorHover);
}
.button-hero button:nth-child(1):hover{
    background-color: #419eb3;
}

.button-hero button:nth-child(2){
    width: 172px;

    border: 1px solid #FAFAFA;

    background-color: transparent;
}

.section-card{
    width: 100%;
    height: 581px;

    color: #ffffff;

    display: flex;
    justify-content: center;
}

.card-card{
    width: 967px;
    height: 453px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--CorCard);

    border: 1px solid var(--CorBordas);
    border-radius: 8px;
    padding-inline: 24px;
}

.card-texto{
    height: 404px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-left: 32px;
}

.card-texto h2 {
    font-size: 2.4rem;
    margin-bottom: 32px;
}

.card-texto p{
    font-size: 1.6rem;
}

.card-texto button{
    width: 198px;
    height: 48px;

    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-top: 24px;

    background-color: transparent;
}

.card-texto button a {
    text-decoration: none;
    color: #ffffff;
}

.section-projetos {
    width: 100%;
    height: auto;

    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-block: 10px;
    margin-bottom: 64px;
}


.projetos-projetos {
    min-width: 1155px;

    display: flex;
    flex-direction: column;
}

.projetos-projetos h2 {
 font-size: 2.4rem;
}


.projetos-projetos .contens-projetos {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 64px;
}

.projetos-projetos .contens-projetos .projetos {
    width: 200px;
    height: 360px;

    padding: 15px 10px;
    border-radius: 8px;

    transition: all 0.8s;
    
}

.projetos-projetos .contens-projetos .projetos h3{
    line-height: 1.8rem;
    margin-block: 10px;
}

.projetos-projetos .contens-projetos .projetos p{
    line-height: 2.3rem;
}

.projetos-projetos .contens-projetos .projetos:hover {
    background-color: var(--CorCard);
}

.section-projetos button {
    width: 218px;
    height: 48px;

    border-radius: 8px;
    margin-top: 42px;

    background-color: var(--CorHover);

    transition: all 0.5s;
}

.section-projetos button:hover {
    background-color: #419eb3;;
}

.section-projetos button a {
    text-decoration: none;
    color: #ffffff;
}

.section-footer {
    width: 100%;
    height: 201px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 64px;
    padding-bottom: 20px;

    position: relative;
}

.section-footer::after {
    content: "";
    width: 1155px;
    height: 1px;

    background-color: var(--CorBordas);

    position: absolute;

}

.footer-acoes {
    width: 1155px;
    height: 158px;

    display: flex;

    margin-top: 25px;

}

.footer-acoes span {
    margin-right: 129px;

    color: #ffffff;
}

.footer-acoes a{
    color: #ffffff;
    text-decoration: none;
}

.footer-inicio {
    width: 89px;
    height: 70%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-right: 129px;
}

.footer-inicio small:nth-child(1)  {
    color: var(--CorHover);
}


.footer-contatos {
    width: 107px;
    height: 70%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-right: 119px;
}

.footer-contatos small:nth-child(1)  {
    color: var(--CorHover);
}

.footer-social {
    width: 139px;
    height: 40%;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-social small {
    color: var(--CorHover);
}

.footer-social  .icon-social i {
    color: #ffffff;
}

.footer-social  .icon-social a:not(:last-child){
    margin-right: 5px;
}

.footer-copyrigth {
    width: 1155px;
    color: #ffffff;
    
    padding-top: 15px;
    border-top: 1px solid var(--CorBordas);
}






