*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --CorFundo: #111626;
    --CorPrimaria: #6BE5F2;
    --CorCard: #19213b;
    --CorHover: #52C0D9;
    --CorBordas: #0e2d4050;

    --fontSite:  'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;   /* font por padrão agora é 10 pix*/
}

html, body {
   height: 100%;
   
   font-family:var(--fontSite);
}

body {
    font-size: 1.6rem;

     background-color: var(--CorFundo);
   
}

.header-conteiner {
    width: 100%;
    height: 68px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--CorBordas);
}

.header-header {
    height: 100%;
    width: 1155px;
    min-width: 967px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-header span {
    color: #ffffff;
    font-weight: 600;
    font-size: 2.6rem;
}

.header-nav {
    width: 392px;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
}

.header-nav ul li{
    list-style: none;
}

.header-nav ul li a{
    text-decoration: none;
    color: #ffffff;

    position: relative;
    padding: 0 5px;
}

.header-nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--CorPrimaria);
    
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.header-nav ul li a:hover:after{
    width: 100%;
}


/* main */
.conteiner {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.section-conteiner {
    width: 1155px;
    height: 547px;

    display: flex;
    align-items: center;
    justify-content: space-between; 

}

.section-conteiner  .txt {
    width: 568px;
}

.section-conteiner  .txt p {
    color: #ffffff;
    line-height: 2.5rem;

    margin-bottom: 15px;
}
.section-conteiner  .txt a {
    color: var(--CorPrimaria);
    text-decoration: none;

}




/* footer */
.section-footer {
    width: 100%;
    height: 201px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 64px;
    padding-bottom: 20px;

    position: relative;
}

.section-footer::after {
    content: "";
    width: 1155px;
    height: 1px;

    background-color: var(--CorBordas);

    position: absolute;

}

.footer-acoes {
    width: 1155px;
    height: 158px;

    display: flex;

    margin-top: 25px;

}

.footer-acoes span {
    margin-right: 129px;

    color: #ffffff;
}

.footer-acoes a{
    color: #ffffff;
    text-decoration: none;
}

.footer-inicio {
    width: 89px;
    height: 70%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-right: 129px;
}

.footer-inicio small:nth-child(1)  {
    color: var(--CorHover);
}


.footer-contatos {
    width: 107px;
    height: 70%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-right: 119px;
}

.footer-contatos small:nth-child(1)  {
    color: var(--CorHover);
}

.footer-social {
    width: 139px;
    height: 40%;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-social small {
    color: var(--CorHover);
}

.footer-social  .icon-social i {
    color: #ffffff;
}

.footer-social  .icon-social a:not(:last-child){
    margin-right: 5px;
}

.footer-copyrigth {
    width: 1155px;
    color: #ffffff;
    
    padding-top: 15px;
    border-top: 1px solid var(--CorBordas);
}